/* 
Lobster:
https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz 
*/
@font-face {
  font-family: "Lobster";
  src: local("Lobster"), url('/assets/fonts/Lobster/Lobster-Regular.ttf') format("truetype");
}

/* 
Yanone Kaffeesatz:
https://fonts.googleapis.com/css?family=Lobster 
*/
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: local("Yanone Kaffeesatz"), url('/assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf') format("truetype");
}
/* 
Roboto:
https://fonts.googleapis.com/css?family=Roboto
*/
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url('/assets/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}