.checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 2rem 1rem 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    display: none;
}

/* Create a custom checkbox */
.checkbox .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    border: 2px solid #888;
    border-radius: 0.2rem;
}

/* On mouse-over, add a background color */
.checkbox:hover input~.checkmark {
    background-color: var(--third-colour);
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
    background-color: white;
    border: 2px solid var(--first-colour);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 8px;
    height: 15px;
    border: solid var(--first-colour);
    border-width: 0 4px 4px 0;
    transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
    -ms-transform: rotate(41deg);
    transform: rotate(41deg);
}

.checkboxLabel {
    display: inline-block;
    float: left;
    margin-left: 2.2rem;
    height: 2rem;
    line-height: 2;
}