/* type.scss */
h1 {
    font: normal small-caps bold 1.5rem/1 Georgia, serif;
    color: white;
    a {
        display: block;
        transform: rotate(358deg);
    }
}

h2 {
    &.page-heading {
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 500;
    color: var(--first-colour);
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 1.3;
    margin-top: 2rem;
    text-shadow: 1px 1px 0px #000;
        a {
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-decoration-color: var(--second-colour);
            &:hover {
                text-decoration-color: var(--first-colour);
            }
        }
    }
}

h3 {
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 400;
    color: var(--first-colour);
    margin-top: 1rem;
    margin-bottom: 1rem;
    &.chart-title {
        margin-top: 0;
        color: var(--chart-title);
    }
}