/* _type.scss */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

h1 {
    color: white;
    a {
        font: var(--big-font);
        /* normal 2rem/1 'Lobster', cursive; */
        text-decoration: none;
        display: block;
        transform: rotate(358deg);
        transition-duration: 150ms;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

h2 {
    &.page-heading {
    @apply 
    text-3xl
    md:text-5xl;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font: normal 500 3rem/1 'Lobster', cursive;
    color: var(--first-colour);
    margin: 3rem 0 2rem 0;
    text-shadow: 1px 1px 0px #000;
        a {
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-decoration-color: var(--second-colour);
            &:hover {
                text-decoration-color: var(--first-colour);
            }
        }
    }
}

h3 {
    /* 300;400;500;600;700 */
    font: normal 700 2rem/1 "Yanone Kaffeesatz", sans-serif;
    color: var(--first-colour);

    &.chart-title {
        width: auto;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0;
        padding: 0.55rem;
        background: var(--first-colour);
        color: white;
        box-shadow: 7px 7px 2px #ccc;
        text-align: center;
    }

    /* &.section-title {
        margin: 1rem 0;
    } */
}
