// type.scss
h1 {
    font: normal small-caps bold 1.5rem/1 Georgia, serif;
}

h2 {
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 500;
    @apply text-blue-500;
    margin-top: 1rem;
    &.page-heading {
        font-size: 2.5rem;
        line-height: 1.3;
        margin-top: 2rem;
        text-shadow: 1px 1px 0px #000;
        a {
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-decoration-color: var(--second-colour);
            &:hover {
                text-decoration-color: var(--first-colour);
            }
        }
    }
}

h3 {
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
    @apply text-blue-500;
    margin-top: 1rem;
}