/* Utilities */
a {
    &.chip {
        height: 70px;
        width: 33%;
        margin-right: 0;
        margin-bottom: 0.5rem;
        position: relative;
        display: inline-block;
        border: 0.15rem solid white;
        color:#fff;
        background-color: #858585;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        font-size: 0.9rem;
        text-decoration: underline;
        text-decoration-style: dotted;
        box-shadow: 0px 3px 3px #ccc;
        @apply 
        transition 
        duration-150 
        ease-in-out
        sm:mr-1
        sm:w-[110px];
        &:hover {
            top: 1px;
            background-color: gold;
            color: #000;
            text-decoration: none;
            box-shadow: 0px 1px 3px #ccc;
        }
        &:active {
            background-color: #00c500;
            color: #fff;
            
        }
    }
}