/* _vars.scss */
:root {
    --dark-colour: #1866e2;
    --first-colour: #3b82f6;
    --second-colour: #93c5fd;
    --third-colour: #c6e1ff;
    --active-colour: #00c500;
    --alert-colour: #ff0000;
    --alert-dark-colour: #c50000;
    --reset-colour: coral;
    --reset-dark-colour: #d35527;
    --mobnav-hover-colour: #2d78ee;
    --mobnav-active-colour: #5494fa;

    --chart-title: #ea580c;
    --gold-colour: gold;

    --first-font: normal 2rem/1 'Ariel';
    --site-font-one: normal 2rem/1 'Lobster', cursive;
    --site-font-two: normal 2rem/1 'Yanone Kaffeesatz', cursive;
}

/* SCSS VARS */
$test-color: #c6538c;
