@tailwind base;
@tailwind components;
@tailwind utilities;
/* _vars.scss */
:root {
  --dark-colour: #1866e2;
  --first-colour: #3b82f6;
  --second-colour: #93c5fd;
  --third-colour: #c6e1ff;
  --active-colour: #00c500;
  --alert-colour: #ff0000;
  --alert-dark-colour: #c50000;
  --reset-colour: coral;
  --reset-dark-colour: #d35527;
  --mobnav-hover-colour: #2d78ee;
  --mobnav-active-colour: #5494fa;
  --mobnav-text: #e2e8f0
  --chart-title: #ea580c;
  --gold-colour: gold;
  --first-font: normal 2rem/1 "Ariel";
  --site-font-one: normal 2rem/1 "Lobster", cursive;
  --site-font-two: normal 2rem/1 "Yanone Kaffeesatz", cursive;
}

/* SCSS VARS */
h1 {
  color: white;
}
h1 a {
  font: normal 2rem/1 "Lobster", cursive;
  text-decoration: none;
  display: block;
  transform: rotate(358deg);
  transition-duration: 150ms;
}
h1 a:hover {
  transform: rotate(360deg);
}

h2.page-heading {
  @apply text-3xl
    md:text-5xl;
  font: normal 3rem/1 "Lobster", cursive;
  color: var(--first-colour);
  margin: 3rem 0 2rem 0;
  text-shadow: 1px 1px 0px #000;
}
h2.page-heading a {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--second-colour);
}
h2.page-heading a:hover {
  text-decoration-color: var(--first-colour);
}

h3 {
  /* 300;400;500;600;700 */
  font: normal 600 2rem/1 "Yanone Kaffeesatz", sans-serif;
  color: var(--first-colour);
  margin-bottom: 2rem;
  /* &.section-title {
      margin: 1rem 0;
  } */
}
h3.chart-title {
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.55rem;
  background: var(--first-colour);
  color: white;
  box-shadow: 7px 7px 2px #ccc;
  text-align: center;
}

.cookieControl__Modal-enter-active, .cookieControl__Modal-leave-active {
  transition: opacity 0.25s;
}

.cookieControl__Modal-enter, .cookieControl__Modal-leave-to {
  opacity: 0;
}

.cookieControl__Bar--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cookieControl__Bar--center-enter-active, .cookieControl__Bar--top-left-enter-active, .cookieControl__Bar--top-full-enter-active, .cookieControl__Bar--top-right-enter-active, .cookieControl__Bar--bottom-left-enter-active, .cookieControl__Bar--bottom-full-enter-active, .cookieControl__Bar--bottom-right-enter-active, .cookieControl__Bar--center-leave-active, .cookieControl__Bar--top-left-leave-active, .cookieControl__Bar--top-full-leave-active, .cookieControl__Bar--top-right-leave-active, .cookieControl__Bar--bottom-left-leave-active, .cookieControl__Bar--bottom-full-leave-active, .cookieControl__Bar--bottom-right-leave-active {
  transition: transform 0.25s;
}

.cookieControl__Bar--top-left-enter, .cookieControl__Bar--top-full-enter, .cookieControl__Bar--top-right-enter, .cookieControl__Bar--top-left-leave-to, .cookieControl__Bar--top-full-leave-to, .cookieControl__Bar--top-right-leave-to {
  transform: translateY(-100%);
}

.cookieControl__Bar--bottom-left-enter, .cookieControl__Bar--bottom-full-enter, .cookieControl__Bar--bottom-right-enter, .cookieControl__Bar--bottom-left-leave-to, .cookieControl__Bar--bottom-right-leave-to, .cookieControl__Bar--bottom-full-leave-to {
  transform: translateY(100%);
}

.cookieControl__Bar--center-enter, .cookieControl__Bar--center-leave-to {
  transform: translate(-50%, -50%) scale(0.95);
}

.cookieControl {
  position: relative;
  z-index: 100000;
}
.cookieControl button {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px 20px;
  backface-visibility: hidden;
  transition: background-color 200ms, color 200ms;
  border-radius: 0.2rem;
  font-weight: 500;
}

.cookieControl__Bar {
  position: fixed;
  background-color: var(--cookie-control-barBackground);
  border-top: 8px solid #ffb900;
  box-shadow: 0 -10px 20px 0px rgba(0, 0, 0, 0.3019607843);
  /* COOKIE BAR BUTTONS */
}
.cookieControl__Bar h3, .cookieControl__Bar p {
  color: var(--cookie-control-barTextColor);
  max-width: 900px;
  text-align: center;
  @apply md:text-left;
}
.cookieControl__Bar p {
  font-size: 1rem;
  @apply md:text-left;
}
.cookieControl__Bar h3 {
  margin: 0;
  margin: 0rem 0 1rem 0;
  font-size: 20px;
  font: normal 2rem/1 "Lobster", cursive;
  transform: rotate(358deg);
  color: #ffdc80;
  text-shadow: 2px 2px 0px #000;
}
.cookieControl__Bar p {
  margin: 4px 0;
  padding: 0.5rem;
}
.cookieControl__Bar button {
  color: var(--cookie-control-barButtonColor);
  background-color: var(--cookie-control-barButtonBackground);
}
.cookieControl__Bar button:nth-of-type(1) {
  background-color: #c6c6c6;
  color: black;
}
.cookieControl__Bar button:nth-of-type(1):hover {
  background-color: #00b300;
  color: white;
}
.cookieControl__Bar button:nth-of-type(2) {
  background-color: #858585;
  color: white;
}
.cookieControl__Bar button:nth-of-type(2):hover {
  background-color: #cc0000;
  color: white;
}
.cookieControl__Bar button:nth-of-type(3) {
  background-color: #858585;
  color: white;
}
.cookieControl__Bar button:nth-of-type(3):hover {
  background-color: #cc8400;
  color: white;
}
.cookieControl__Bar button:hover {
  color: var(--cookie-control-barButtonHoverColor);
  background-color: var(--cookie-control-barButtonHoverBackground);
}
.cookieControl__Bar button:focus {
  box-shadow: 0 0 0 3px var(--cookie-control-focusRingColor);
}
.cookieControl__Bar button + button {
  margin-left: 10px;
}

.cookieControl__BarContainer {
  display: flex;
  padding: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.cookieControl__Bar--top-full, .cookieControl__Bar--bottom-full {
  left: 0;
  right: 0;
}

.cookieControl__Bar--top-full {
  top: 0;
}

.cookieControl__Bar--bottom-full {
  bottom: 0;
}

.cookieControl__Bar--center p, .cookieControl__Bar--top-left p, .cookieControl__Bar--top-right p, .cookieControl__Bar--bottom-left p, .cookieControl__Bar--bottom-right p {
  max-width: 400px;
}

.cookieControl__Bar--center .cookieControl__BarContainer, .cookieControl__Bar--top-left .cookieControl__BarContainer, .cookieControl__Bar--top-right .cookieControl__BarContainer, .cookieControl__Bar--bottom-left .cookieControl__BarContainer, .cookieControl__Bar--bottom-right .cookieControl__BarContainer {
  flex-direction: column;
}

.cookieControl__Bar--center .cookieControl__BarButtons, .cookieControl__Bar--top-left .cookieControl__BarButtons, .cookieControl__Bar--top-right .cookieControl__BarButtons, .cookieControl__Bar--bottom-left .cookieControl__BarButtons, .cookieControl__Bar--bottom-right .cookieControl__BarButtons {
  margin-top: 20px;
}

.cookieControl__Bar--top-left, .cookieControl__Bar--top-right {
  top: 20px;
}

.cookieControl__Bar--bottom-left, .cookieControl__Bar--bottom-right {
  bottom: 20px;
}

.cookieControl__Bar--top-left, .cookieControl__Bar--bottom-left {
  left: 20px;
}

.cookieControl__Bar--top-right, .cookieControl__Bar--bottom-right {
  right: 20px;
}

.cookieControl__BarButtons {
  display: flex;
}

.cookieControl__Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 0;
  text-align: center;
  /* MODAL BUTTONS */
}
.cookieControl__Modal:before {
  content: "";
  min-height: 100vh;
  display: inline-block;
  vertical-align: middle;
}
.cookieControl__Modal:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: var(--cookie-control-modalOverlayOpacity);
  background-color: var(--cookie-control-modalOverlay);
}
.cookieControl__Modal > div {
  font-size: initial;
}
.cookieControl__Modal button {
  color: var(--cookie-control-modalButtonColor);
  background-color: var(--cookie-control-modalButtonBackground);
  border-radius: 0.4rem;
}
.cookieControl__Modal button:first-of-type {
  display: none;
}
.cookieControl__Modal button:hover {
  color: var(--cookie-control-modalButtonHoverColor);
  background-color: var(--cookie-control-modalButtonHoverBackground);
}
.cookieControl__Modal button:focus {
  box-shadow: 0 0 0 3px var(--cookie-control-focusRingColor);
}

.cookieControl__ModalContent {
  position: relative;
  width: 100%;
  max-width: 460px;
  max-height: 80vh;
  text-align: left;
  overflow-y: scroll;
  display: inline-block;
  vertical-align: middle;
  color: var(--cookie-control-modalTextColor);
  background-color: var(--cookie-control-modalBackground);
  border-radius: 0.25rem;
  overflow: hidden;
}
.cookieControl__ModalContent *:not(button) {
  color: var(--cookie-control-modalTextColor);
}
.cookieControl__ModalContent h3 {
  font: normal 2rem/1 "Lobster", cursive;
  transform: rotate(358deg);
  /* &:first-of-type {
    display: none;
  } */
}
.cookieControl__ModalContent ul {
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}
.cookieControl__ModalContent ul ul {
  padding: 5px 56px 0;
}
.cookieControl__ModalContent ul ul li + li {
  margin-top: 5px;
}
.cookieControl__ModalContent li {
  align-items: center;
}
.cookieControl__ModalContent li + li {
  margin-top: 20px;
}
.cookieControl__ModalContent input {
  display: none;
}
.cookieControl__ModalContent input:checked + button {
  background-color: var(--cookie-control-checkboxActiveBackground);
}
.cookieControl__ModalContent input:checked + button:before {
  background-color: var(--cookie-control-checkboxActiveCircleBackground);
  transform: translate3d(100%, -50%, 0);
}
.cookieControl__ModalContent input:checked:disabled + button {
  background-color: var(--cookie-control-checkboxDisabledBackground);
}
.cookieControl__ModalContent input:checked:disabled + button:before {
  background-color: var(--cookie-control-checkboxDisabledCircleBackground);
}
.cookieControl__ModalContent input + button {
  position: relative;
  min-width: 36px;
  min-height: 20px;
  font-size: 0;
  display: block;
  margin-right: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
  transition: background-color 200ms;
  background-color: var(--cookie-control-checkboxInactiveBackground);
}
.cookieControl__ModalContent input + button:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: transform 200ms;
  transform: translate3d(0, -50%, 0);
  background-color: var(--cookie-control-checkboxInactiveCircleBackground);
}

.cookieControl__ModalContentInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px;
}

.cookieControl__ModalInputWrapper {
  display: flex;
  align-items: flex-start;
}

.cookieControl__ModalCookieName {
  font-weight: bold;
  text-transform: uppercase;
}
.cookieControl__ModalCookieName span {
  font-weight: normal;
  text-transform: none;
}

.cookieControl__ModalClose {
  display: none;
  align-self: flex-end;
  top: 20px;
  right: 20px;
}

.cookieControl__ModalButtons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 1rem;
  margin-top: 0;
  line-height: 4;
}

.cookieControl__ModalUnsaved {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin: 0;
  color: var(--cookie-control-modalUnsavedColor);
  font-size: 14px;
  transform: translateX(-50%);
}

.cookieControl__BlockedIframe {
  padding: 20px;
  border: 2px solid #ddd;
}
.cookieControl__BlockedIframe p, .cookieControl__BlockedIframe a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .cookieControl__Bar {
    flex-direction: column;
    left: 0;
    right: 0;
  }
  .cookieControl__Bar div div {
    width: 100%;
  }
  .cookieControl__Bar p, .cookieControl__Bar h3 {
    max-width: 100%;
  }
  .cookieControl__Bar--top-full, .cookieControl__Bar--top-left, .cookieControl__Bar--top-right {
    top: 0;
  }
  .cookieControl__Bar--bottom-full, .cookieControl__Bar--bottom-left, .cookieControl__Bar--bottom-right {
    bottom: 0;
  }
  .cookieControl__ModalContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    max-height: 100%;
  }
  .cookieControl__ModalContentInner {
    padding: 20px;
  }
  .cookieControl__BarButtons {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .cookieControl__BarButtons button {
    width: 100%;
  }
  .cookieControl__BarButtons button + button {
    margin: 10px 0 0;
  }
  .cookieControl__BarContainer {
    flex-direction: column;
    gap: 10px;
  }
  .cookieControl__ModalButtons {
    flex-direction: column;
    gap: 10px;
  }
  .cookieControl__ModalButtons button {
    width: 100%;
  }
}
.cookieControl__ControlButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: background-color 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: var(--cookie-control-controlButtonBackground);
}
.cookieControl__ControlButton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  transition: color 200ms;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);
  color: var(--cookie-control-controlButtonIconColor);
}
.cookieControl__ControlButton:hover {
  background-color: var(--cookie-control-controlButtonHoverBackground);
}
.cookieControl__ControlButton:hover svg {
  color: var(--cookie-control-controlButtonIconHoverColor);
}

/* Utilities */
a.chip {
  height: 70px;
  width: 33%;
  margin-right: 0;
  margin-bottom: 0.5rem;
  position: relative;
  display: inline-block;
  border: 0.15rem solid white;
  color: #fff;
  background-color: #858585;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: underline;
  text-decoration-style: dotted;
  box-shadow: 0px 3px 3px #ccc;
  @apply transition 
        duration-150 
        ease-in-out
        sm:mr-1
        sm:w-[110px];
}
a.chip:hover {
  top: 1px;
  background-color: gold;
  color: #000;
  text-decoration: none;
  box-shadow: 0px 1px 3px #ccc;
}
a.chip:active {
  background-color: #00c500;
  color: #fff;
}

.button {
  position: relative;
  display: inline-block;
  background-color: var(--first-colour);
  padding: 0.5rem 2rem;
  margin: 1rem 0.9rem 0 0;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 3px 3px #ccc;
  @apply w-full
    sm:w-auto
    transition 
    duration-150 
    ease-in-out;
}
.button:hover {
  top: 1px;
  background-color: var(--gold-colour);
  color: black;
  box-shadow: 0px 3px 3px #ccc;
}
.button:active {
  background-color: var(--active-colour);
  color: white;
}
.button.submit {
  background-color: var(--first-colour);
}
.button.submit:hover {
  background-color: var(--dark-colour);
  color: white;
}
.button.cancel {
  background-color: var(--alert-colour);
}
.button.cancel:hover {
  background-color: var(--alert-dark-colour);
  color: white;
}
.button.reset {
  background-color: var(--reset-dark-colour);
}
.button.reset:hover {
  background-color: var(--reset-colour);
  color: white;
}

body {
  background-color: #f9fafb;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-height {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 0px);
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 1rem 0;
  border-color: var(--second-colour);
  background-color: var(--first-colour);
  border-top-width: 8px;
  @apply lg:relative
    shadow-2xl;
}

main {
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 0.5rem;
  @apply container
    lg:mt-0
    grow 
    items-start;
}

nav {
  padding: 0 0.5rem;
  margin: 0 auto;
  @apply container;
}

.navlinks {
  height: 40px;
  @apply lg:flex 
	space-x-3 
	hidden;
}
.navlinks a {
  border-radius: 0.25rem;
  color: white;
  padding: 0.45rem 0.5rem 0.25rem;
  font: normal 600 1.75rem/1 "Yanone Kaffeesatz", sans-serif;
  text-decoration: none;
  @apply transition 
    duration-150 
    ease-in-out;
}
.navlinks a:hover {
  color: var(--first-colour);
  background-color: white;
}

.mobilenavlinks {
  background-color: var(--first-colour);
  @apply lg:hidden 
  divide-y 
  divide-slate-200;
}
.mobilenavlinks a {
  text-transform: uppercase;
  text-align: center;
  display: block;
  border-color: white;
  color: var(--mobnav-text);
  padding: 0 0.5rem;
  padding-left: 0;
  @apply transition 
    duration-150 
    ease-in-out;
}
.mobilenavlinks a:first-child {
  margin-top: 1rem;
}
.mobilenavlinks a.router-link-active {
  background-color: var(--mobnav-hover-colour);
  column-rule-color: white;
}
.mobilenavlinks a:hover {
  background-color: var(--mobnav-hover-colour);
  text-decoration: underline;
}
.mobilenavlinks a:active {
  background-color: var(--mobnav-active-colour);
}

/* .container {
    border: 1px solid red;
} */
footer {
  background-color: var(--second-colour);
}
footer a {
  display: inline-block;
  padding-right: 0.5rem;
}
footer .container {
  padding: 1rem;
}

p {
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: 1rem 0px;
}

a.section-link {
  font-size: 1rem;
}

.ui-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b6b6b6;
}
.ui-item:last-child {
  border-bottom: none;
}

.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
}