@tailwind base;
@tailwind components;
@tailwind utilities;
/* SCSS files below */
@import "../scss/vars";
@import "../scss/topnav";
@import "../scss/type";

body {
    @apply 
    bg-gray-50
    border-t-8 
    border-blue-300;
}

.app-height {
    /* @apply 
    flex 
    flex-col 
    min-h-screen; */
    /* Use the below css if there is an 8px border at the top of the page. Otherwise use the above css instead */
    display: flex;
    min-height: calc(100vh - 8px);
    flex-direction: column;
}

header {
    @apply 
    shadow-2xl 
    bg-blue-500
    py-4;
}

main {
    @apply 
    container 
    mx-auto 
    grow 
    items-start
    px-2;
}

nav {
    @apply 
    container 
    mx-auto 
    px-2;
}

.navlinks {
    @apply 
    lg:flex 
    space-x-3 
    hidden; 
    a {
        @apply 
        rounded
        transition 
        duration-150 
        ease-in-out 
        text-sm
        font-bold
        uppercase
        py-1 
        px-2
        text-white;
        &:hover {
            @apply 
            text-blue-500
            bg-white
        }
    }
}

.mobilenavlinks {
    @apply 
    lg:hidden 
    bg-blue-500
    divide-y 
    divide-slate-200;
    a {
        @apply 
        block 
        text-slate-200
        border-white
        transition 
        duration-150 
        ease-in-out 
        py-2 
        pl-0;
        &:hover {
            @apply
            text-white 
            underline;
        }
    }

}

/* .container {
    border: 1px solid red;
} */

footer {
    @apply 
    p-4 
    bg-blue-300;

    a {
    @apply
        inline-block
        pr-2;
    }
}