@tailwind base;
@tailwind components;
@tailwind utilities;
/* SCSS files below */
@import "../scss/vars";
@import "../scss/topnav";
@import "../scss/type";
@import "../scss/cookie";
@import "../scss/utilities";
@import "../scss/button";

body {
    @apply 
    bg-gray-50
}

.app-height {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 0px);
}

header {
        /* position: fixed; */
        /* z-index: 50; */
        /* width: 100%; */
    @apply 
        /* lg:relative */
    shadow-2xl 
    bg-blue-500
    py-8
    border-t-8 
    border-blue-300;
}

main {
    @apply 
        /* mt-[111px] */
        /* lg:mt-0 */
    container 
    mx-auto 
    grow 
    items-start
    px-2;
}

nav {
    @apply 
    container 
    mx-auto 
    px-2;
}

.navlinks {
    @apply 
    lg:flex 
    space-x-3 
    hidden; 
    a {
        border-radius: 0.25rem;
        color:white;
        padding: 0.45rem 0.5rem 0.25rem;
        font: normal 700 1.75rem/1 'Yanone Kaffeesatz', sans-serif;
        text-decoration: none;
        @apply 
        transition 
        duration-150 
        ease-in-out;
        &:hover {
            color: var(--first-colour);
            background-color: white;
        }
    }
}

.mobilenavlinks {
    @apply 
    lg:hidden 
    bg-blue-500
    divide-y 
    divide-slate-200;
    a {
        text-align: center;
        @apply 
        block 
        text-slate-200
        border-white
        transition 
        duration-150 
        ease-in-out 
        py-2 
        pl-0;
        &:first-child{
            margin-top: 1rem;
        }
        &.router-link-active {
            background-color: var(--mobnav-hover-colour);
            column-rule-color: white;
        }
        &:hover {
            background-color: var(--mobnav-hover-colour);
            @apply
            underline;
        }
        &:active {
            background-color: var(--mobnav-active-colour);
            
        }
    }
}

/* .container {
    border: 1px solid red;
} */

footer {
    @apply 
    bg-blue-300;
    a {
    @apply
        inline-block
        pr-2;
    }
    .container {
        @apply
        p-4
    }
}
p {
    display: block;
    width: 100%;
    margin: 0 0px 1rem 0px;
}

.ui-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b6b6b6;
    &:last-child {
        border-bottom: none;
    }
}

.underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}