@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --accentColor: #7531ff;
  --safeColor: #31ff4c;
}

body {
  @apply bg-gray-50;
}

header {
  @apply shadow-2xl 
    bg-amber-300;
}

main {
  @apply container 
    mx-auto 
    grow 
    items-start
    py-4;
}

.navlinks a {
  @apply bg-slate-300 
        rounded-md 
        hover:bg-sky-700 
        transition 
        duration-150 
        ease-in-out 
        text-sm
        py-1 
        px-2;
}
.navlinks a:hover {
  @apply text-white;
}

.mobilenavlinks a {
  @apply hover:bg-sky-700 
        transition 
        duration-150 
        ease-in-out 
        py-2 
        pl-2;
}

footer {
  @apply p-4 
    bg-sky-300;
}
footer p {
  background: green;
}