@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --accentColor: #7531ff;
  --safeColor: #31ff4c;
}

body {
  @apply bg-gray-50
    border-t-8 
    border-blue-300;
}

header {
  @apply shadow-2xl 
    bg-blue-500
    py-4;
}

main {
  @apply container 
    mx-auto 
    grow 
    items-start;
}

.navlinks a {
  @apply bg-slate-300 
        rounded
        hover:bg-blue-900 
        transition 
        duration-150 
        ease-in-out 
        text-sm
        py-1 
        px-2;
}
.navlinks a:hover {
  @apply text-white;
}

.mobilenavlinks a {
  @apply text-slate-200
        hover:text-white 
        hover:underline
        border-white
        transition 
        duration-150 
        ease-in-out 
        py-2 
        pl-0;
}

footer {
  @apply p-4 
    bg-blue-300;
}
footer a {
  @apply inline-block
        pr-2;
}