@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../scss/vars';
@import '../scss/type';
@import '../scss/cookie';
@import '../scss/utilities';
@import '../scss/button';

body {
  background-color: #f9fafb;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-height {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 0px);
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 1rem 0;
  border-color: var(--second-colour);
  background-color: var(--first-colour);
  border-top-width: 8px;
  @apply lg:relative
    shadow-2xl;
}

main {
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 0.5rem;
  @apply container
    lg:mt-0
    grow 
    items-start;
}

nav {
  padding: 0 0.5rem;
  margin: 0 auto;
  @apply container;
}

.navlinks {
  height: 40px;
  @apply lg:flex 
	space-x-3 
	hidden;
  a {
    border-radius: 0.25rem;
    color: white;
    padding: 0.45rem 0.5rem 0.25rem;
    font: normal 600 1.75rem/1 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    @apply transition 
    duration-150 
    ease-in-out;
    &:hover {
      color: var(--first-colour);
      background-color: white;
    }
  }
}

.mobilenavlinks {
  background-color: var(--first-colour);
  @apply lg:hidden 
  divide-y 
  divide-slate-200;
  a {
    text-transform: uppercase;
    text-align: center;
    display: block;
    border-color: white;
    color: var(--mobnav-text);
    padding: 0 0.5rem;
    padding-left: 0;
    @apply transition 
    duration-150 
    ease-in-out;
    &:first-child {
      margin-top: 1rem;
    }
    &.router-link-active {
      background-color: var(--mobnav-hover-colour);
      column-rule-color: white;
    }
    &:hover {
      background-color: var(--mobnav-hover-colour);
      text-decoration: underline;
    }
    &:active {
      background-color: var(--mobnav-active-colour);
    }
  }
}

/* .container {
    border: 1px solid red;
} */

footer {
  background-color: var(--second-colour);
  a {
    display: inline-block;
    padding-right: 0.5rem;
  }
  .container {
    padding: 1rem;
  }
}
p {
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: 1rem 0px;
}

a.section-link {
  font-size: 1rem;
}

.ui-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b6b6b6;
  &:last-child {
    border-bottom: none;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
}
